.container {
	background-color: orangered;
	height: 100px;
	width: 100%;
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.left {
	flex: 1;
	display: flex;
	align-items: center;
}
.callButton {
	padding: 10px;
	background-color: white;
	border-radius: 50%;
	margin-right: 10px;
}
.texts {
}
.text {
	color: white;
	font-weight: 500;
	font-size: 1rem;
}
.center {
	flex: 3;
}
.navItems {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	color: white;
}
.item {
	font-weight: 500;
}
.logo {
	display: flex;
	align-items: center;
}

.logoText {
	font-size: 2rem;
	font-weight: 700;
	margin: 0 5px;
}
.dot {
	width: 8px;
	height: 8px;
	background-color: white;
	border-radius: 50%;
}

.right {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}
.cartBox {
	position: relative;
}
.amount {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: white;
	font-size: 0.7rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -5px;
	right: -7px;
}
